# Не версионируем GitHub Actions runner и большие бинарники
actions-runner/
externals/
*.tar.gz

# Всякое мусорное
_pycache_/
*.pyc
# Ignore GitHub runner leftovers
_work/
_diag/
externals/
bin/
actions-runner/
*.tar.gz
