---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install required packages
  apt:
    name:
      - openjdk-21-jdk
      - docker.io
    state: present

- name: Ensure docker service is enabled and running
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes
